@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-image: linear-gradient(225deg, #2a0311, #000c1c, #001f17 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
